<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363454748293-a065b0uja3146htgqencaiv8ahs2fenv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363454748293-a065b0uja3146htgqencaiv8ahs2fenv</string>
	<key>API_KEY</key>
	<string>AIzaSyAu72x90gEmuJ5hBFv8y6mu62YveQxbKgc</string>
	<key>GCM_SENDER_ID</key>
	<string>363454748293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smarttracker.clairvoyance</string>
	<key>PROJECT_ID</key>
	<string>smart-tracker-a2cf5</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-tracker-a2cf5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363454748293:ios:61f6f56cac650065563bec</string>
	<key>DATABASE_URL</key>
	<string>https://smart-tracker-a2cf5.firebaseio.com</string>
</dict>
</plist>